.projectsSwiper .swiper-slide {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.4;
  transition: opacity 1s ease;
}

.projectsSwiper .swiper-slide:hover {
  opacity: 1;
  transition: opacity 1s ease;
}

.projectsSwiper .swiper-slide-active {
  opacity: 1;
  transition: opacity 1s ease;
}

.teamSwiper .swiper-slide {
  opacity: 0.4;
  scale: 0.9;
  transition: 0.5s ease-in-out;
}

.teamSwiper .swiper-slide-active {
  opacity: 1;
  scale: 1;
  z-index: 1;
  margin-right: 40px !important;
  transition: 0.5s ease-in-out;
}

@media (max-width: 1024px) {
  .teamSwiper .swiper-slide {
    opacity: 1;
    scale: 1;
    transition: 0.5s ease-in-out;
    margin-right: 0 !important;
  }
}
